<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Rut:</strong>
  <%= @cliente.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Fono:</strong>
  <%= @cliente.fono %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Volver', clientes_path %>
