<h1>Listando entregas</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Materia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entregas.each do |entrega| %>
      <tr>
        <td><%= entrega.cantidad %></td>
        <td><%= entrega.fecha %></td>
        <td><%= entrega.cliente_id %></td>
        <td><%= entrega.materia_id %></td>
        <td><%= link_to 'Mostrar', entrega %></td>
        <td><%= link_to 'Editar', edit_entrega_path(entrega) %></td>
        <td><%= link_to 'Eliminar', entrega, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Entrega', new_entrega_path %>
<br><br>
<%= link_to 'Atrás','empleado/index' %>
