<h2>Inicia sesión</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <div><%= f.label :username, "Nombre de usuario" %><br />
  <%= f.text_field :username, placeholder: "Proveído por admin" %></div>



  <div><%= f.label :password, "Contraseña" %><br />
  <%= f.password_field :password, placeholder: "********" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Recordar mis datos" %></div>
  <% end -%>

  <div><%= f.submit "Ingresar" %></div>

<% end %>

<%= render "devise/shared/links" %>
